<div class="container mt-5">
    <form method="GET" action="/" class="input-group">
        <select class="form-select" name="category">
            <option selected disabled>Choose Category...</option>
            <option value="All">All</option>
            <option value="computers">computers</option>
            <option value="clothes">clothes</option>
            <option value="electronics">electronics</option>
        </select>
        <button class="btn btn-success" type="submit">Button</button>
    </form>
</div>